[Unit]
Description=ezviz-mqtt service

[Service]
Type=notify
ExecStart=/usr/sbin/ezviz-mqtt
WorkingDirectory=/mnt/c/development/gitrepo/HomeAutomation/ezviz.net/ezviz-mqtt-systemd

[Install]
WantedBy=multi-user.target